CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
build
debugBuild
.vscode/settings.json
positiveResult
simulation_result
genScene/negativeTestScene/*
genScene/positiveTestScene/*
negativeTest/*
positiveTest/*
syclImplementation/__pycache__/
*.ppm
*.png
__pycache__/
.venv
external
positive/
negative/
*.h5
# Rust-specific
/rustLib/target
**/*.rs.bk

# Cargo-related
Cargo.lock
/.cargo/
/*.crate

# Backup files
*~
*.swp
*.bak

# Binaries and logs
*.log
*.tmp
*.out

# IDEs and editor config
.idea/
.vscode/
*.code-workspace

# Misc
.DS_Store